<div class="container my-3" >
    <a href="./createRoom">
        <button class="btn btn-primary">Create room</button>
    </a>
    <hr>
    <a href="./joinRoom">
        <button class="btn btn-primary">Join room</button>
    </a >
</div>