<div class="container my-3">
    <form action="/joinRoomData" method="post">
  <div class="mb-3">
    <label for="room-name" class="form-label">Flat name</label>
    <input type="text" name="rname" class="form-control" id="rname" aria-describedby="emailHelp">
    </div>
  <div class="mb-3">
    <label for="room-code" class="form-label">Code</label>
    <input type="text" name="rcode" class="form-control" id="rcode">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>